body{
  padding: 0;
  margin: 0;
  background-image: url("/public/fondo.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-size:cover;
  position: relative;
}
  
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.30);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18)
}

.p1 {
  font-weight: 800;
  color: black;
}
.p1::before,
.p1::after {
  content: " ";
  position: absolute;
  background-color: rgb(0, 0, 0);
}

.p1::before {
  top: 50%;
  transform: translateX(-100%) translateY(-50%);
}
.p1::after {
  top: 50%;
  transform: translateY(-50%);
}

  

@media only screen and (max-width: 600px) {
.p1 {
  font-size: 25px;
}
.p1::before,
.p1::after {
  width: 20px;
  height: 5px;
}

.container {
  margin-top: 0em;
  padding: .5em;
  border-radius: 5px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.p1 {
  font-size: 35px;
}
.p1::before,
.p1::after {
  width: 22px;
  height: 7px;
}

.container {
  margin-top: 0em;
  padding: .5em;
  border-radius: 5px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.p1 {
  font-size: 50px;
}
.p1::before,
.p1::after {
  width: 25px;
  height: 10px;
}

.container {
  margin-top: 0em;
  padding: .5em;
  border-radius: 5px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .p1 {
  font-size: 75px;
}
.p1::before,
.p1::after {
  width: 50px;
  height: 20px;
}

.container {
  margin-top: .5em;
  padding: 1em;
  border-radius: 5px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .p1 {
  font-size: 100px;
}
.p1::before,
.p1::after {
  width: 100px;
  height: 30px;
}

.container {
  margin-top: 1em;
  padding: 2em;
  border-radius: 10px;

}
}